{% extends 'base.html' %}

{% block header %}
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<h2>活動表單</h2>
<form method="POST">
    {% csrf_token %}

    <table class="update-table" id="event-update">
        {% for field in form %}
        {% if not field.is_hidden %}
        <tr>
            <td>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </td>
            <td>
                <!-- <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value }}"> -->
                {{ field }}
            </td>
        </tr>
        {% else %}
        <input type="hidden" name="{{ field.html_name }}" value="{{ field.value }}">
        {% endif %}
        {% endfor %}
    </table>
    <button type="submit">儲存</button>
</form>

{% endblock %}
