{% extends 'base.html' %}

{% block content %}
<h2>器材清單</h2>

{% for c, d in categories %}
<h3>{{ d }}</h3>
<table class="update-table">
    <thead onClick="expandTable(this)">
        <tr>
            <th>名稱</th>
            <th>狀況</th>
            <th>目前位置</th>
        </tr>
    </thead>
    <tbody>
        {% for e in c %}
            <tr>
                <td>{{ e }}</td>
                <td>{{ e.condition }}</td>
                <td>{{ e.location.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

<script>
    function expandTable(e) {
        var t = e.nextElementSibling;
        t.classList.toggle('hidden-tbody');

    }
</script>

{% endblock %}
