@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
    font-family: "Noto Sans", "Noto Sans TC", sans-serif;
    font-size: 1.25em;
    margin: 0;
    color: #000;
    background-color: #eee;
}

nav {
    width: 100%;
    border: none;
    padding: 0.25em 0;
    background-color: #fff;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    width: 60em;
    max-width: 97vw;
    margin: auto;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.navicon {
    display: block;
    margin: auto;
    width: 2em;
    height: 2em;
}
