ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    font: inherit;
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: ">";
    padding-right: 5px;
}

input {
    background: transparent;
    font: inherit;
    color: inherit;
    border: none;
    border-bottom: 2px solid #ABABAB;
    width: 12em;;
    margin: 0.25em 0.5em;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #FEFEFE;
}


button {
    display: block;
    margin: auto;
    padding: 0;
    font-size: 1em;
    color: #FEFEFE;
    background: transparent;
    border: 3px solid transparent;
    text-decoration: none;
}

button:hover {
    border-bottom: 3px solid #FEFEFE;
    transition: all 0.5s;
}

button:focus {
    outline: none;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

