{% extends 'base.html' %}

{% block content %}
            <form class="center" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <input type="text" name="username" id="username" placeholder="Username">
                </p>
                <p>
                    <input type="password" name="password" id="password" placeholder="Password">
                </p>
                    <input type="hidden" name="next" value="{{ next }}">
                <p>
                    <button type="submit" id="submit">Sign In</button>
                </p>
            </form>
{% endblock %}
