{% extends 'base.html' %}

{% block content %}
{% if error_message %}<p class="text-danger">{{ error_message }}</p>{% endif %}
<h2>更新資料</h2>
<form action="{% url 'profile_update' %}" method="POST">
    {% csrf_token %}
    <table class="update-table">
        <tr>
            <td>
                <label>帳號</label>
            </td>
            <td>
                {{ user.username }}
            </td>
        </tr>
        <tr>
            <td>
                <label>姓名</label>
            </td>
            <td>
                {{ user.last_name }}{{ user.first_name }}
            </td>
        </tr>
    </table>

    {% for formset in inlines %}
        <table class="update-table">
        {{ formset.management_form }}
        {% for subform in formset.forms %}
            {% for field in subform %}
                {% if not field.is_hidden %}
                <tr>
                    <td>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </td>
                    <td>
                        <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value }}">
                    </td>
                </tr>
                {% else %}
                    <input type="hidden" name="{{ field.html_name }}" value="{{ field.value }}">
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
    {% endfor %}

    <table class="update-table">
    {% for field in form %}
        {% if not field.is_hidden %}
        <tr>
            <td>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </td>
            <td>
                <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value }}">
            </td>
        </tr>
        {% else %}
            <input type="hidden" name="{{ field.html_name }}" value="{{ field.value }}">
        {% endif %}
    {% endfor %}
    </table>

    <button type="submit" class="btn btn-primary">確定變更</button>

</form>
{% endblock %}
